language: go

go:
- 1.11.x
- 1.12.x

sudo: false

env:
- DEP_VERSION="0.5.0"

before_install:
- curl -L -s https://github.com/golang/dep/releases/download/v${DEP_VERSION}/dep-linux-amd64 -o $GOPATH/bin/dep
- chmod +x $GOPATH/bin/dep

install:
- dep ensure -no-vendor -dry-run
- dep ensure

before_script:
- go get -u github.com/golangci/golangci-lint/cmd/golangci-lint

script:
- golangci-lint run ./...
- go test ./... -v
